.container {
    border: solid;
    width: 500px;
    height: 500px;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}